html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}
.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo span {
  font-style: italic;
}

.header-logo-italic {
  font-style: italic;
}

.header-link {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
}
.header-link:hover {
  color: #fd9222;
}

.hero {
  background-color: #1e1823;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-button {
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  border-radius: 100px;
  color: #fff;
}

.hero-button-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.hero-button-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03;
  color: #fff;
}

.features {
  background: #1e1823;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
}

.features-item {
}
.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.features-item-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.taste {
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
}

.taste-list {
}
.taste-item {
}
.taste-image {
}

.taste-title .accent {
  color: #fd9222;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
